.vscode/**
.vscode-test/**
src/**
out/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# DON'T ignore these dependencies, they need to be bundled with the extension
!node_modules/@babel/**
!node_modules/prettier/**
